testing/02 - Mocking HTTP Nodes.json
{
  "name": "02 - Mocking HTTP Nodes",
  "nodes": [
    {
      "parameters": {},
      "id": "d5e03b55-3e94-431d-9f4f-147e9a672582",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// MOCK: Simulate what an HTTP node would return\n// Replace this block with a real HTTP Request\n// node once you're ready to go live.\n// ─────────────────────────────────────────────\nconst USE_MOCK = true; // flip to false for live\n\nconst mockApiResponse = {\n  users: [\n    { id: 1, name: 'Alice',   role: 'admin',  active: true  },\n    { id: 2, name: 'Bob',     role: 'viewer', active: false },\n    { id: 3, name: 'Charlie', role: 'editor', active: true  }\n  ],\n  meta: { total: 3, page: 1 }\n};\n\nif (USE_MOCK) {\n  console.log('[MOCK] Returning fake API response');\n  return [{ json: { source: 'mock', data: mockApiResponse } }];\n}\n\n// When USE_MOCK = false, connect a real HTTP\n// Request node before this Code node instead."
      },
      "id": "464ec465-5b4b-4b34-bdba-691ad736d9a3",
      "name": "Mock HTTP Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Process the response — same logic works for\n// both mock and real HTTP data\n// ─────────────────────────────────────────────\nconst payload = $json.data;\nconst users   = payload.users;\n\nconst activeUsers = users.filter(u => u.active);\nconst admins      = users.filter(u => u.role === 'admin');\n\nreturn [{\n  json: {\n    totalUsers:   users.length,\n    activeUsers:  activeUsers.length,\n    adminCount:   admins.length,\n    activeNames:  activeUsers.map(u => u.name),\n    processedAt:  new Date().toISOString()\n  }\n}];"
      },
      "id": "377377be-6afa-4c86-a7fd-8d43e1508164",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Validate the shape of the processed data\n// This acts as your assertion layer\n// ─────────────────────────────────────────────\nconst d = $json;\nconst errors = [];\n\nif (typeof d.totalUsers !== 'number')  errors.push('totalUsers must be a number');\nif (!Array.isArray(d.activeNames))     errors.push('activeNames must be an array');\nif (d.activeUsers > d.totalUsers)      errors.push('activeUsers cannot exceed totalUsers');\nif (!d.processedAt)                    errors.push('processedAt timestamp missing');\n\nreturn [{\n  json: {\n    validationPassed: errors.length === 0,\n    errors,\n    data: d\n  }\n}];"
      },
      "id": "20bffeb8-dea8-4b95-9417-542129a833b3",
      "name": "Validate Shape",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Mock HTTP Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock HTTP Response": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Validate Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "89eb90c7-1d80-4c5d-9648-c64b3c9eb49a",
  "meta": {
    "instanceId": "46f07ef4e9d965df6575a034e4053e5e806ccbc6190e58457714fc3fd982033e"
  },
  "id": "E7wcQc0CzPo6w40N",
  "tags": []
}