testing/03_snapshot_testing.json
{
  "name": "03 - Snapshot Testing",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-3",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Simulate the output of a node you want to\n// snapshot-test (e.g. a transform/code node)\n// ─────────────────────────────────────────────\nfunction transformOrder(raw) {\n  return {\n    orderId:    raw.id,\n    customer:   raw.customer.toUpperCase(),\n    totalPrice: (raw.items.reduce((s, i) => s + i.price * i.qty, 0)).toFixed(2),\n    itemCount:  raw.items.length,\n    status:     raw.status === 'new' ? 'PENDING' : 'PROCESSED'\n  };\n}\n\nconst rawOrder = {\n  id: 'ORD-001',\n  customer: 'sanket',\n  status: 'new',\n  items: [\n    { name: 'Widget A', price: 10, qty: 2 },\n    { name: 'Widget B', price: 5,  qty: 3 }\n  ]\n};\n\nconst output = transformOrder(rawOrder);\nreturn [{ json: { currentOutput: output } }];"
      },
      "id": "transform-node",
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// SNAPSHOT: This is your saved known-good output\n// First run: copy currentOutput here as snapshot\n// Future runs: compare against it automatically\n// ─────────────────────────────────────────────\nconst SNAPSHOT = {\n  orderId:    'ORD-001',\n  customer:   'SANKET',\n  totalPrice: '35.00',\n  itemCount:  2,\n  status:     'PENDING'\n};\n\nconst current = $json.currentOutput;\n\n// Deep compare helper\nfunction deepEqual(a, b) {\n  if (typeof a !== typeof b) return false;\n  if (typeof a !== 'object') return a === b;\n  const ka = Object.keys(a), kb = Object.keys(b);\n  if (ka.length !== kb.length) return false;\n  return ka.every(k => deepEqual(a[k], b[k]));\n}\n\n// Find field-level diffs\nconst diffs = [];\nfor (const key of Object.keys(SNAPSHOT)) {\n  if (!deepEqual(SNAPSHOT[key], current[key])) {\n    diffs.push({\n      field:    key,\n      snapshot: SNAPSHOT[key],\n      current:  current[key]\n    });\n  }\n}\n\nconst passed = diffs.length === 0;\n\nreturn [{\n  json: {\n    snapshotTest: passed ? '✅ SNAPSHOT MATCH' : '❌ SNAPSHOT MISMATCH',\n    passed,\n    diffs,\n    tip: passed\n      ? 'Output matches saved snapshot.'\n      : 'Update SNAPSHOT const above if change is intentional.'\n  }\n}];"
      },
      "id": "snapshot-compare",
      "name": "Compare Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond-snap",
              "leftValue": "={{ $json.passed }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-snap",
      "name": "Snapshot Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { result: '✅ Snapshot test passed — output is stable.' } }];"
      },
      "id": "snap-pass",
      "name": "Stable Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 200]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nreturn [{\n  json: {\n    result: '❌ Output changed!',\n    diffs: d.diffs,\n    action: 'Review diffs. If intentional, update SNAPSHOT in Compare Snapshot node.'\n  }\n}];"
      },
      "id": "snap-fail",
      "name": "Output Changed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 420]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Transform Data", "type": "main", "index": 0 }]]
    },
    "Transform Data": {
      "main": [[{ "node": "Compare Snapshot", "type": "main", "index": 0 }]]
    },
    "Compare Snapshot": {
      "main": [[{ "node": "Snapshot Passed?", "type": "main", "index": 0 }]]
    },
    "Snapshot Passed?": {
      "main": [
        [{ "node": "Stable Output",  "type": "main", "index": 0 }],
        [{ "node": "Output Changed", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": []
}
